* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 235, 235);
    font-family: poppins, sans-serif;

    color: rgba(0, 0, 0, 0.815);

}

main {
    margin: 16px;
    padding-bottom: 10px;
}

.title {
    color: #48A300;

    font-size: 64px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;

}

.title span {
    color: #61481c;
}

.app-container {
    background-color: #fbfbfb;
    max-width: 660px;
    margin-inline: auto;
    border-radius: 5px;
    padding: 32px 42px;
    box-shadow: 0px 0px 8px 0px rgba(0, 10, 0, 0.4);

}
.app-container h2 span{
    margin-left: 8px;

}
.add{
    color: #ec0808bb;
}
.task{
    color: rgba(94, 8, 175, 0.699);;
}
.for{
    color:#01c2fdc4;
}
.today{
    color:rgba(210, 105, 30, 0.849)
}

.sun-icon {
    vertical-align: middle;
    margin-left: 16px;
    animation: sunrotater 5s alternate-reverse 0.5s infinite;
}

@keyframes sunrotater {
    0% {

        transform: rotate(360deg);
    }


}

.progress-label {
    font-size: 14px;
    color: #858585;
    margin-bottom: 20px;
}

.progress-bar {
    height: 30px;

    background-color: rgba(73, 163, 0, 0.301);
    border-radius: 15px;
    margin-bottom: 2px;

}

.progress-value {
    height: 100%;
    background-color: #48A300;
    border-radius: 15px;
    width: 30%;
    display: flex;
  align-items: center;
 
   
   width: 0;
    overflow: hidden;
    transition: all 0.55s ease-in-out;

}
.progress-value span{
    padding-left: 20px;

    
}

.error-label {
    font-size: 14px;
    color: #ec0808;
    margin-bottom: 40px;
    display: none;
    

}

.goal-container {
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 14px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    background-color: #fff;
    margin-bottom: 46px;
    margin-top: 40px;
}

.custom-checkbox {
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
}

.goal-input {
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-family: inherit;
    padding-left: 4px;
    flex-grow: 1;
    height: 100%;

}
.doneTask .goal-input{
    text-decoration: line-through;
    color: #48A300;
}

::placeholder {
    color: #3d3c3c;
}

.quote {
    font-weight: 900;
    color: #0e0d0dce;
    text-align: center;
    letter-spacing: 2px;
}

.made-with {
    font-weight: 400;
    color: #5f5d5d;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 60px;
}

.love {
    color: red;
}

.doneTask .custom-checkbox {
    background-color: #48A300;
    border-color: #48A300;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.checkIcon{
    visibility: hidden;
}
.doneTask .checkIcon{
    visibility: visible;

}

@media (max-width:768px) {
    .title {
        font-size: 32px;
    }

    .app-container {
        padding: 16px 32px;
    }

    .progress-value {
font-size: inherit;
color: rgba(0, 0, 0, 0.801);
       
    }

    .goal-input {
        width: 80%;
    }

    .goal-container {
        height: 60px;
    }

    .custom-checkbox {
        height: 20px;
        width: 20px;
    }

    .progress-bar {
        height: 24px;
        font-size: 12px;
    }
}
@media (max-width:450px) {
    .progress-value {
        font-size: 10px;
        color: rgb(0, 0, 0);
               
            }
            
}